/*********************

Authors:
	Jay Tang

Stylesheet:
	Main stylesheet

*********************/
/******************************************************************
Utilities
******************************************************************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	Variables stylesheet

*********************/
/******************************************************************

Authors: Ian Brennan
		Jay Tang

Stylesheet: Mixins

******************************************************************/
/*********************
NOTE: Documentation for compass box-shadow is either out of date or incorrect.
For a single box shadow the arguement order is:
@include single-box-shadow([$color], [$hoff], [$voff], [$blur], [$spread], [$inset]);
*********************/
/*********************
ANIMATION
*********************/
/* USAGE: @include animation(bgcolor 60s infinite); */
/*********************
KEYFRAMES
*********************/
/* USAGE: @include keyframes(bgcolor) {
	0% {
	background-color: #ffccf2;
	}
	50% {
	background-color: #ccffcc;
	}
	100% {
	background-color: #ccffff;
	}
} */
/*********************
Background size: cover;
*********************/
/* 	Use a background image to cover the element in most browsers including IE8

	USAGE: @include background-cover(imgPath); */
/*********************
CSS3 GRADIENTS
*********************/
/* USAGE: @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BACKGROUND COLOUR WITH TRANSPARENCY
*********************/
/* USAGE: @include transparentBackground(rgba(0, 0, 0, 0.5)); */
/*********************
BOX-SIZING
*********************/
/* USAGE: @include box-sizing(border-box); */
/*********************************************************************

** Sassian - Utilities - Reset **

About:
    
    CSS Reset, makes all the browsers start from a base level.


*********************************************************************/
/* line 12, ../../../../src/sass/utilities/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../src/sass/utilities/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../../../../src/sass/utilities/_reset.scss */
body {
  line-height: 1;
}

/* line 26, ../../../../src/sass/utilities/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../../../../src/sass/utilities/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 32, ../../../../src/sass/utilities/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 36, ../../../../src/sass/utilities/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../src/sass/utilities/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../../../../src/sass/utilities/_reset.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 57, ../../../../src/sass/utilities/_reset.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 59, ../../../../src/sass/utilities/_reset.scss */
* html .clearfix {
  height: 1%;
}

/* line 60, ../../../../src/sass/utilities/_reset.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/******************************************************************

** Sassian - Utilities - Grid **

About: 

	A really leightweight simple grid system. If you want to use
	something more extensive feel free, this is designed to get
	you started quickly


Usage: 

	In _variables.scss define your grid variables: 

		$grid-columns : 12; // Number of columns
		$grid-width : 1170px; // Total page width
		$grid-gutter : 15px; // Left / Right gutter on each column

	<div class="grid">
		<div class="grid-10">
			<!-- 8 columns -->
		</div>
		<div class="grid-3 offset-1">
			<!-- 3 columns, offset by 1 column -->
		</div>
	</div>

Example:

	<a href="#" class="icon fa-comment-o">Leave a comment</a>

	<a href="#" class="icon fa-thumbs-o-up">Thumbs up</a>

******************************************************************/
/* line 37, ../../../../src/sass/utilities/_grid.scss */
.grid {
  margin: 0 auto;
  width: 100%;
}
/* line 41, ../../../../src/sass/utilities/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../../../../src/sass/utilities/_grid.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  padding: 0 10px;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-1 {
  width: 8.33333%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-2 {
  width: 16.66667%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-3 {
  width: 25%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-4 {
  width: 33.33333%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-5 {
  width: 41.66667%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-6 {
  width: 50%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-7 {
  width: 58.33333%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-8 {
  width: 66.66667%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-9 {
  width: 75%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-10 {
  width: 83.33333%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-11 {
  width: 91.66667%;
}

/* line 56, ../../../../src/sass/utilities/_grid.scss */
.grid-12 {
  width: 100%;
}

/* line 63, ../../../../src/sass/utilities/_grid.scss */
.no-gutter {
  padding: 0;
}

/******************************************************************

Author: Ian Brennan

Stylesheet: Responsive breakpoints mixin

How to use:

In your variables file, define a list:

	$breakpoints: (
	    (phone 		320px)
	    (tablet 	680px)
	    (desktop 	1170px)
	    (extended 	1440px)
	)

******** Hint ********
You can add as many or as a few breakpoints as your like, it is best to name
them in a way that is understood across all departments (UX, Design) as it
makes communications easier during bug fixing / change requests.
**********************

To wrap your Sass in a media query, call it as like so:

	@include breakpoint(breakpointName) {
		// Sass here
	}

Replace breakpointName with a matching name in your list
(in this example: phone / tablet / desktop / extended)


**** Legacy Browsers ****

For older browsers that don't support media queries this mixin supports
turning off the media query, and just returning the CSS.

In your legacy scss file set this variable:

	$IE: false;

And then import your entire main scss file below:

	// Turn off media queries for IE stylesheet
	$IE: false;

	@import "main";


******************************************************************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	Fonts

*********************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	Base stylesheet

*********************/
@media all and (max-width: 768px) {
  /* line 11, ../../../../src/sass/_base.scss */
  html {
    width: 100%;
  }
}

/* line 18, ../../../../src/sass/_base.scss */
body {
  color: #333;
  font-size: 100%;
  line-height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 26, ../../../../src/sass/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
}

/* line 30, ../../../../src/sass/_base.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

/* line 54, ../../../../src/sass/_base.scss */
h1 {
  font-size: 40px;
  line-height: 1.3em;
}

/* line 59, ../../../../src/sass/_base.scss */
h2 {
  font-size: 24px;
  margin: 10px 0;
}

/* line 64, ../../../../src/sass/_base.scss */
h3 {
  font-size: 20px;
}

/* line 68, ../../../../src/sass/_base.scss */
p {
  font-size: 14px;
  padding: 7px 0;
}

/* line 73, ../../../../src/sass/_base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 78, ../../../../src/sass/_base.scss */
ol {
  list-style-type: decimal;
}
/* line 81, ../../../../src/sass/_base.scss */
ol li {
  margin-left: 15px;
  margin-bottom: 10px;
}

/* line 87, ../../../../src/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 92, ../../../../src/sass/_base.scss */
i {
  display: inline-block;
}

/* line 96, ../../../../src/sass/_base.scss */
.hide {
  display: none;
}

/* line 100, ../../../../src/sass/_base.scss */
.clearfix {
  clear: both;
}

/*********************

Authors:
	Jay Tang

Stylesheet:
	GUI stylesheet

*********************/
/******************************************************************
Modules
******************************************************************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	Header module stylesheet

*********************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	Footer module stylesheet

*********************/
/******************************************************************
Views 
******************************************************************/
/*********************

Authors:
	Jay Tang

Stylesheet:
	View stylesheet

*********************/
